<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/View/Booking/ChooseSeat/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <title>5CT_WebMovie</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <div class="logo">5CT</div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color: #cfcece; font-size: 28px"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto d-flex w-100">
            <li class="nav-item">
              <a class="nav-link" href="/movie-list">PHIM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/detail">LỊCH CHIẾU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/personal-profile"
                >THÔNG TIN</a
              >
            </li>
            <li class="nav-item" id="login-accout">
              <div class="info">
                <a th:href="@{/logout}">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Select Number -->

    <!-- Choose seat -->
    <div
      class="choose-seat-container justify-content-center align-items-center d-flex flex-column"
      
    >
      <div class="screen-container position-relative">
        <img src="../public/screen.png" alt="" />
        <span>SCREEN</span>
      </div>
      <div class="seats-container"></div>
      <div class="explanation my-4">
        <div class="select-container" >
          <div class="select-label">SỐ GHẾ</div>
          <select class="form-select select-container-info">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
          </select>
        </div>
        <div>
          <svg
            width="25"
            height="18"
            viewBox="0 0 25 18"
            fill="#FF3CAC"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z"
            />
          </svg>
          Couple
        </div>
        <div>
          <svg
            width="25"
            height="18"
            viewBox="0 0 25 18"
            fill="#FFB160"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z"
            />
          </svg>
          Có thể đặt
        </div>
        <div>
          <svg
            width="25"
            height="18"
            viewBox="0 0 25 18"
            fill="#303030"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z"
            />
          </svg>
          Đã đặt
        </div>
        <div>
          <svg
            width="25"
            height="18"
            viewBox="0 0 25 18"
            fill="#29A1F9"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z"
            />
          </svg>
          Đang chọn
        </div>
        <div>
          <svg
            width="25"
            height="18"
            viewBox="0 0 25 18"
            fill="#F32F50"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z"
            />
          </svg>
          Đã chọn
        </div>
      </div>
    </div>
    <!-- Bottom bar -->
    <div class="bottom-bar">
      <div class="bottom-bar-item">
        <div class="title">NGÀY</div>
        <div class="content date-content">20.4</div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">GIỜ</div>
        <div class="content hour-content">22:30</div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">RẠP</div>
        <div class="content theater-content">Nam Sài Gòn</div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">PHÒNG</div>
        <div class="content room-content">Screen 2</div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">GHẾ</div>
        <div class="content seat-content"></div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">GIÁ VÉ</div>
        <div class="content ticket-content">0 ₫</div>
      </div>
      <div class="bottom-bar-item">
        <div class="title">COMBO</div>
        <div class="content combo-content">0 ₫</div>
      </div>
      <a href="/booking/combo" style="text-decoration: none">
        <button class="btn-main">CHỌN COMBO</button>
        <div class="total total-content">0 ₫</div>
      </a>
    </div>
    <!--  -->

    <!-- Footer -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12" id="footer-first">
            <div class="footer-logo" style="margin-top: 0">
              <a href="#"> <p class="logo" style="font-size: 60px">5CT</p> </a>
              <p style="font-size: 12px; clear: left">
                COPYRIGHT © 5CODERCUTE.COM
                <br />
                ALL RIGHTS RESERVED.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <ul style="margin-top: 20px">
              <li>
                <a href="#" style="color: white; font-size: 18px">
                  Về chúng tôi
                </a>
              </li>
              <li><a href="#"> Liên hệ </a></li>
              <li><a href="#"> Tuyển dụng </a></li>
              <li><a href="#"> Blog </a></li>
              <li><a href="#"> FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <ul style="margin-top: 20px">
              <li>
                <a href="#" style="color: white; font-size: 18px">
                  Điều khoản sử dụng
                </a>
              </li>
              <li><a href="#"> Điều khoản chung </a></li>
              <li><a href="#"> Điều khoản giao dịch </a></li>
              <li><a href="#"> Điều khoản thanh toán </a></li>
              <li><a href="#"> Chính sách bảo mật </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div style="margin-top: 20px">
              <div>
                <a href="#" class="btn-footer">
                  <img src="../public/email-multiple-outline.png" />
                  hoidap@5ct.vn
                </a>
              </div>
              <div>
                <a href="#" class="btn-footer">
                  <img src="../public/phone.png" /> 1900 1008
                </a>
              </div>
              <div class="footer-icon">
                <a href="#"> <img src="../public/facebook.png" /></a>
                <a href="#"> <img src="../public/twitter.png" /></a>
                <a href="#"> <img src="../public/google-plus.png" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module">
      import { XOREncrypt, XORDecrypt } from "../../Util/EncryptXOR.js";
      import {
        postLocalStorage,
        setLocalStorage,
      } from "../../Util/LocalstorageInterFace.js";
      import { getShowTimeByID } from "../../API/ShowTimeAPI.js";
      import { getSeatByRoomID, getseatByID } from "../../API/SeatAPI.js";
      import { getAllTicketsByShowTimeId } from "../../API/TicketAPI.js";
      import { getCustomerByEmail } from "../../API/UserAPI.js";
      $(document).ready(function () {
        // Navbar for logged in
        if (sessionStorage.getItem("Email")) {
          let email = XORDecrypt(window.sessionStorage.getItem("Email"));
          getCustomerByEmail("../../..", email).then((res) => {
            let data = JSON.parse(res.user);
            let name = data.customer.FullName;
            $("#create-accout").addClass("visually-hidden");
            $("#login-accout").addClass("visually-hidden");
            $("#user-account")
              .removeClass("visually-hidden")
              .find("a")
              .text(name);
            $("#signout").removeClass("visually-hidden");
          });
        } else {
          window.location.href = "../../Login_Modal/LoginModal.html";
        }

        $("#signout a").click(() => {
          sessionStorage.removeItem("Email");
          window.location.href = ".";
        });

        $(".select-container-info").change(function () {
          var selectedOption = $(this).val();
          sessionStorage.setItem("SelectedTicketNum", selectedOption);
        });
        $(".navbar-toggler").click(function () {
          var color = $(".navbar").css("background-color");
          if (color == "rgba(0, 0, 0, 0.01)") {
            $(".navbar").css("background", "rgba(0, 0, 0, 0.85)");
          } else {
            $(".navbar").css("background", "rgba(0, 0, 0, 0.01)");
          }
        });
        async function getAllTicketsByShowTimeIdFunc() {
          const ShowTimeID = sessionStorage.getItem("ShowTimeID");
          let datas = await getAllTicketsByShowTimeId("../../../.", ShowTimeID);
          let dataShowTimeIDToLoop = datas["listTicket"];
          return dataShowTimeIDToLoop;
        }

        async function getSeatByRoomIDFunc() {
          let RoomID = sessionStorage.getItem("RoomIDChoosing");
          let seatData = await getSeatByRoomID("../../../.", RoomID);
          return seatData.list;
        }
        function CountingHowManySeat(seatData, numofRow) {
          let count = 0;

          for (let i = 0; i < seatData.length / numofRow; i++) {
            if (seatData[i].SeatName.charAt(0) === "A") {
              count++;
            }
          }
          return count;
        }
        function createAlphabetString(lastChar) {
          let alphabetString = "";
          let startChar = "A";
          for (
            let i = startChar.charCodeAt(0);
            i <= lastChar.charCodeAt(0);
            i++
          ) {
            alphabetString += String.fromCharCode(i);
          }

          return alphabetString;
        }
        async function getSeatChar() {
          let seatdata = await getSeatByRoomIDFunc();
          let charofseat = seatdata[seatdata.length - 1].SeatName[0];
          let rowofchars = await createAlphabetString(charofseat);
          let numofCol = await CountingHowManySeat(seatdata, rowofchars.length);
          return [rowofchars, rowofchars.length, numofCol, seatdata];
        }
        (async function renderSeat() {
          let resultofchars = await getSeatChar();
          let seatChars = resultofchars[0];
          let numCol = resultofchars[2];
          let seatdata = resultofchars[3];
          let numRow = resultofchars[1];
          let ticketID = await getAllTicketsByShowTimeIdFunc();
          let flagtoloop = 0;

          // for (let j = 0; j <= numCol * i; j++) {
          //   console.log(seatdata[j]);
          // }
          const row_chars = seatChars.slice(0, numRow);
          const availableSeats = seatdata.filter((seat) => {
            const isTaken = ticketID.some((t) => t.SeatID === seat.SeatID);
            return !isTaken;
          });
          const fullSeats = seatdata.filter((seat) => {
            const isTaken = ticketID.some((t) => t.SeatID === seat.SeatID);
            return isTaken;
          });
          for (const char of row_chars) {
            let row = document.createElement("div");
            row.className = "seat-row";
            $(row).append('<div class="letter">' + char + "</div>");
            let charCode = char.charCodeAt(0);
            let charRow = 0;

            if (charCode >= 65 && charCode <= 90) {
              // Check if the character is A-Z
              let newChar = charCode - 65;
              charRow = newChar;
            }
            for (let i = 1; i <= numRow; i++) {
              const seattoadd = availableSeats.find((seat) => {
                return seat.SeatName === `${char}${i}`;
              });
              if (fullSeats.length == 0) {
                if (seattoadd) {
                  if (seattoadd.Type == 2) {
                    $(row).append(
                      new Seat(charRow, i, 3, seattoadd.SeatID).getHTML()
                    );
                    continue;
                  } else {
                    $(row).append(
                      new Seat(charRow, i, 0, seattoadd.SeatID).getHTML()
                    );
                  }
                }
              } else {
                if (seattoadd) {
                  if (fullSeats.SeatID != seattoadd.SeatID) {
                    if (seattoadd.Type == 2) {
                      $(row).append(
                        new Seat(charRow, i, 3, seattoadd.SeatID).getHTML()
                      );
                      continue;
                    } else {
                      $(row).append(
                        new Seat(charRow, i, 0, seattoadd.SeatID).getHTML()
                      );
                    }
                  }
                } else {
                  let booked = fullSeats.find((seat) => {
                return seat.SeatName === `${char}${i}`;});
                  if (booked) {
                    $(row).append(
                        new Seat(charRow, i, -1, booked.SeatID).getHTML()
                      );
                  }
                  
                }
              }
            }

            $(".seats-container").append(row);
          }
          renderInformation();
          function toVndCurrencyFormat(number) {
            const currencyFormat = new Intl.NumberFormat("vi-VN", {
              style: "currency",
              currency: "VND",
              minimumFractionDigits: 0,
            });

            return currencyFormat.format(number);
          }
          async function renderInformation() {
            $(".date-content").text(sessionStorage.getItem("DayChoosing"));
            $(".room-content").text(sessionStorage.getItem("RoomIDChoosing"));
            $(".hour-content").text(sessionStorage.getItem("TimeChoosing"));
            $(".theater-content").text(sessionStorage.getItem("TheaterName"));
          }
          let bookingNumber = 0;
          let arrtemptransaction = [];
          let price = 0;

          $(".seat").click(async function () {
            let row = $(this).attr("row");
            let col = $(this).attr("col");
            let stateid = $(this).attr("stateId");
            let idSeat = $(this).attr("seatID");

            function numberToChar(number) {
              return String.fromCharCode(parseInt(number) + "A".charCodeAt(0));
            }
            console.log(arrtemptransaction);

            if (stateid == 1) {
              unselectSeat(row, col);
              let ShowTimeID = sessionStorage.getItem("ShowTimeID");
              let pricing = await getShowTimeByID("../../.././", ShowTimeID);
              let pricetocal = pricing["Showtime"].Price;
              let seatIndentify = await getseatByID("../../../.", idSeat);
              console.log(seatIndentify.Seat);
              arrtemptransaction = arrtemptransaction.filter(
                (e) => e.SeatID !== seatIndentify.Seat.SeatID
              );
              sessionStorage.setItem(
                "ChoosingSeat",
                JSON.stringify(arrtemptransaction)
              );
              // Cập nhật thông tin Seat
              let seatdata = $(".seat-content").text();
              let seatList = seatdata
                .split(" ")
                .filter((e) => e !== seatIndentify.Seat.SeatName);
              console.log(seatIndentify.Seat);
              seatdata = seatList.join(" ");
              $(".seat-content").text(seatdata);
              // Cập nhật thông tin giá
              if (seatIndentify.Seat.Type === "2") price -= 2;
              else price -= 1;
              let pricetorender = toVndCurrencyFormat(pricetocal * price);
              $(".ticket-content").text(pricetorender);
              $(".total-content").text(pricetorender);
              sessionStorage.setItem("Pricing", pricetocal * price);
              bookingNumber--;
              return;
            }
            const selectedValue = $(".form-select option:selected").val();
            if (selectedValue <= bookingNumber) {
              return;
            }

            if (stateid == 0) {
              stateid = 1;
              price += 1;
            }
            else if (stateid == 3) {
              stateid = 2;
              price += 2;
            }
            else return;

            let ShowTimeID = sessionStorage.getItem("ShowTimeID");
            let pricing = await getShowTimeByID("../../.././", ShowTimeID);
            let pricetocal = pricing["Showtime"].Price;
            let seatIndentify = await getseatByID("../../../.", idSeat);
            selectSeat(row, col);
            arrtemptransaction = [...arrtemptransaction, seatIndentify["Seat"]];
            sessionStorage.setItem(
              "ChoosingSeat",
              JSON.stringify(arrtemptransaction)
            );
            // Cập nhật thông tin Seat
            let seatdata = $(".seat-content").text();
            seatdata += seatIndentify["Seat"].SeatName + " ";
            $(".seat-content").text(seatdata);
            // Cập nhật thông tin giá
            console.log(pricing["Showtime"]);
            let pricetorender = toVndCurrencyFormat(pricetocal * price);
            $(".ticket-content").text(pricetorender);
            $(".total-content").text(pricetorender);
            sessionStorage.setItem("Pricing", pricetocal * price);
            bookingNumber++;
          });
        })();
      });

      function selectSeat(row, col) {
        let seat = $(`.seat[row=${row}][col=${col}]`);
        if (seat.hasClass("booked") || seat.hasClass("selected")) return;
        seat.addClass("selecting").removeClass("available").attr("stateid", 1);
      }

      function unselectSeat(row, col) {
        let seat = $(`.seat[row=${row}][col=${col}]`);
        seat.removeClass("selecting").addClass("available");
        if (seat.hasClass("couple")) seat.attr("stateid", 3);
        else seat.attr("stateid", 0);
      }

      class Seat {
        constructor(row, col, state, seatID) {
          this.row = row;
          this.col = col;
          this.state = state;
          this.seatID = seatID;
        }

        getHTML() {
          let stateId = this.state;
          let stateName;
          let row_chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
          switch (this.state) {
            case -1:
              stateName = "booked";
              break;
            case 0:
              stateName = "available";
              break;
            case 1:
              stateName = "selecting";
              break;
            case 2:
              stateName = "selected";
              break;
            case 3:
              stateName = "couple";
              break;
          }
          return (
            `<div class="seat ${stateName}" seatID="${this.seatID}" stateId=${stateId} row=${this.row} col=${this.col}><svg width="25" height="18" viewBox="0 0 25 18" fill="#343434" xmlns="http://www.w3.org/2000/svg">` +
            '<path d="M3.75 4.66875V2.25C3.75 1.0125 4.875 0 6.25 0H18.75C20.125 0 21.25 1.0125 21.25 2.25V4.68C19.8 5.14125 18.75 6.37875 18.75 7.84125V10.125H6.25V7.83C6.25 6.37875 5.2 5.13 3.75 4.66875ZM22.5 5.625C21.125 5.625 20 6.6375 20 7.875V11.25H5V7.875C5 6.6375 3.8875 5.625 2.5 5.625C1.1125 5.625 0 6.6375 0 7.875V13.5C0 14.7375 1.125 15.75 2.5 15.75V18H5V15.75H20V18H22.5V15.75C23.875 15.75 25 14.7375 25 13.5V7.875C25 6.6375 23.875 5.625 22.5 5.625Z" />' +
            "</svg>" +
            '<div class="seat-tooltip">' +
            `<div>HÀNG<b>${row_chars[this.row]}</b></div>` +
            `<div>GHẾ<b>${this.col}</b></div>` +
            "</div>" +
            "</div>"
          );
        }
      }
    </script>
  </body>
</html>
