<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/View/Bookking/Contact/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montagu Slab"
      rel="stylesheet"
    />
    <title>5CT_WebMovie</title>
    <link rel="stylesheet" href="/css/homepage.css">
  </head>
  <body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../../index.html">
          <div class="logo">5CT</div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">
            <i class="fas fa-bars" style="color: #cfcece; font-size: 28px"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto d-flex w-100">
            <li class="nav-item">
              <a class="nav-link nav-current" href="../../MovieList/index.html"
                >PHIM</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../Detail/index.html">LỊCH CHIẾU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../Account/ThongTinCaNhan/index.html"
                >THÔNG TIN</a
              >
            </li>
            <li class="nav-item" id="login-accout">
              <a class="nav-link" href="../../Login_Modal/LoginModal.html"
                >Đăng nhập</a
              >
            </li>
            <li class="nav-item" id="create-accout">
              <a class="nav-link" href="../../Signup_Modal/index.html"
                >Đăng ký</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center ms-auto visually-hidden"
              id="user-account"
            >
              <a class="nav-link" href="../../Account/ThongTinCaNhan/"></a>
            </li>
            <li class="nav-item visually-hidden" id="signout">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Main-container-->
    <div class="main-container">
      <div class="row" style="width: 100%">
        <div class="col-lg-4 col-sm-3"></div>
        <div class="col-lg-4 col-sm-6 col-xs-10">
          <div class="container-fluid">
            <div class="row gy-4 gx-5">
              <div class="col-12">
                <span class="form-title"> Tên </span>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Contact_name"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div class="col-12">
                <span class="form-title"> Email </span>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Contact_email"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div class="col-12">
                <span class="form-title"> Điện thoại </span>
                <input
                  type="text"
                  class="form-control"
                  aria-label="Contact_phone"
                  aria-describedby="addon-wrapping"
                />
              </div>
              <div class="col-12">
                <span class="form-title"> Nội dung liên hệ </span>
                <textarea
                  class="form-control"
                  rows="10"
                  type="text"
                  aria-label="Contact_content"
                  aria-describedby="addon-wrapping"
                >
                </textarea>
              </div>
              <div class="col-12 d-flex justify-content-center">
                <button class="btn-grad" id="bill-btn">GỬI</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3"></div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row d-flex">
          <div class="col-lg-3 col-md-3 col-sm-12" id="footer-first">
            <div class="footer-logo" style="margin-top: 0">
              <a href="#"> <p class="logo" style="font-size: 60px">5CT</p> </a>
              <p style="font-size: 12px; clear: left">
                COPYRIGHT © 5CODERCUTE.COM
                <br />
                ALL RIGHTS RESERVED.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <ul style="margin-top: 20px">
              <li>
                <a href="#" style="color: white; font-size: 18px">
                  Về chúng tôi
                </a>
              </li>
              <li><a href="#"> Liên hệ </a></li>
              <li><a href="#"> Tuyển dụng </a></li>
              <li><a href="#"> Blog </a></li>
              <li><a href="#"> FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <ul style="margin-top: 20px">
              <li>
                <a href="#" style="color: white; font-size: 18px">
                  Điều khoản sử dụng
                </a>
              </li>
              <li><a href="#"> Điều khoản chung </a></li>
              <li><a href="#"> Điều khoản giao dịch </a></li>
              <li><a href="#"> Điều khoản thanh toán </a></li>
              <li><a href="#"> Chính sách bảo mật </a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div style="margin-top: 20px">
              <div>
                <a href="#" class="btn-footer">
                  <img src="../../../images/email-multiple-outline.png" />
                  hoidap@5ct.vn
                </a>
              </div>
              <div>
                <a href="#" class="btn-footer">
                  <img src="../../../images/phone.png" /> 1900 1008
                </a>
              </div>
              <div class="footer-icon">
                <a href="#"> <img src="../../../images/facebook.png" /> </a>
                <a href="#"> <img src="../../../images/twitter.png" /> </a>
                <a href="#"> <img src="../../../images/google-plus.png" /> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
