@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  height: 100%;
  background-color: #14181d;
}

.sidebar-container {
  z-index: 99;
  position: fixed;
  width: 78px;
  left: 0px;
  top: 0px;
  background-color: #14181d;
  border: 1px solid #303030;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 13px;
  overflow-x: hidden;
  transition: 0.1s ease;
  bottom: 0;
}

.logo-heading {
  font-family: "Modern No. 20";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-align: center;

  background: linear-gradient(90deg, #784ba0 0%, #ff3cac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sidebar-container:hover {
  width: 300px;
  cursor: pointer;
}

.sidebar-container:hover .item-description {
  display: block;
}

.item-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 17.32px 0;
}
.item-icon {
  margin-left: 12px;
  height: fit-content;
  width: 30px;
}
.item-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 11px;
  /* identical to box height */
  margin: 0;
  margin-left: 24px;
  text-align: center;
  display: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9a9fae;
}
.item-container .logout-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 17.32px 0;
}
.active {
  color: #ff3cac;
}
svg.active {
  fill: url("#paint0_linear_258_515");
}
.item-container:hover svg {
  fill: url("#paint0_linear_258_515");
}
.item-container:hover .item-description {
  color: #ff3cac;
}
.logout-container {
  position: absolute;
  bottom: 0;
  right: auto;
  left: auto;
}
.body-container {
  padding: 13px 40px 13px 101px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-place {
  justify-self: flex-start;
}
.function_place {
  justify-self: flex-end;
}
.btn-main {
  color: white;
  background-image: linear-gradient(90deg, #784ba0 0%, #ff3cac 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin: 0 12.5px;
  max-height: 37px;
}
.btn-main.content-type-normal {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 47.5px;
  border-radius: 10px;
  white-space: nowrap;
  margin: 0;
}

.btn-outline.content-type-normal {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
}
.btn-outline {
  border: 1px solid #303030;
  background: #101521;
  border: 1px solid #303030;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 0 12.5px;
}
.function_place {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.body-container {
  background-color: #14181d;
}
.title-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;

  color: #f8f8f8;
}
.search-place {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-place {
  max-width: 45%;
  padding: 10px;
}
.input-place input {
  background: #101521;
  border: 1px solid #303030;
  border-radius: 10px;

}
.input-place input:focus {
  background: #101521;
  border: 1px solid #303030;
  border-radius: 10px;
  color: white;
  outline: white;
}
.dropdown-choosing {
  max-width: 157.75px;
  margin: 0 8.56px;
}
.dropdown-choosing button {
  background: #101521;
  border: 1px solid #303030;
  border-radius: 10px;
}
.divider-container {
  width: 100%;
  height: 0;
  border: 1px solid #343434;
  margin: 12.5px 0;
}
.transition-place {
  display: flex;
  align-items: center;
}
.item-choosing-block {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 37.12px;
  color: white;
  cursor: pointer;
}

.divider-mini {
  width: 100%;
  height: 3px;
  z-index: 2;
  background: linear-gradient(90deg, #784ba0 0%, #ff3cac 39.9%);
}
.hidden {
  display: none;
}
.table-place {
  color: rgba(246, 245, 246, 0.9) !important;
  border-color: #343434 !important;
}

.table-place th {
  vertical-align: middle;
}

.table-place tr {
  width: 120px;
  height: 60px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-color: #343434 !important;
  color: rgba(246, 245, 246, 0.9) !important;
}

.table-place tr td:first-child {
  color: #ff3cac !important;
  border-color: #343434 !important;
}

.table-place tr td:nth-child(9) {
  color: #fbc300;
  font-weight: 500;
}

.table-place tbody tr {
  cursor: pointer;
}

.table-place tbody tr td {
  max-width: 100px;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.table-place th {
  text-align: center !important   ;
  height: fit-content;
}

#table-content tr.selected {
  background-color: #fff !important;
}

.rating {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  line-height: 20px;
  align-items: center;
  color: #fbc300;
  margin-bottom: 16px;
}
.rating-star img {
  margin-right: 8px;
}
.change-table-place {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.back-btn {
  color: #ff3cac;
  font-weight: 700;
  font-size: 20px;
  margin: 0 8px;
}
.forward-btn {
  color: #ff3cac;
  font-weight: 700;
  font-size: 20px;
  margin: 0 8px;
}
.back-description {
  color: white;
  margin: 0 8px;
}
.forward-description {
  color: white;
  margin: 0 8px;
}

.forward-place,
.back-place {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.value-place {
  margin-top: 0 !important;
  color: white;
  padding: auto;
  text-align: center;
  background: #101521;
  border: 1px solid #303030;
  border-radius: 10px;
  width: 38px;
  height: 34px;
  margin: 0 8px;
}
.text-place {
  color: white;
  margin: 0 4px;
}
p {
  margin-bottom: 0 !important;
}
.heading-result {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.select-place {
  max-width: 85px;
  max-height: 40px;
  color: white !important;
  background-color: #101521 !important;
  border: 1px solid #303030;
  border-radius: 10px;
}
.select-place option {
  background: #101521;
}
.data-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choosing-block {
  display: flex;
  align-items: center;
}
.display-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: white;
  width: 170px;
}
.form-control {
  background-color: #e9eeef;
}

.modal-content {
  background-color: #14181d !important;
  border-radius: 10px !important;
}

#btn_EditUser {
  background: linear-gradient(
    90deg,
    #784ba0 0.25%,
    #784ba0 0.26%,
    #ff3cac 100.12%
  );
  border: 1px solid #303030;
  border-radius: 10px;
  box-shadow: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  background-image: url(/images/calendarSVG.svg);
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="datetime-local"], .selectize-control, .selectize-input,
.modal select {
  /* color: white;
  background-color: black;
  border: none; */
  box-sizing: border-box;
  margin-top: 10px;
  border-radius: 10px;
  height: 36px;
  background-color: #20232d;
  color: #9a9fae;
  border: solid 1px #303030;
}
.selectize-control {
  padding: 0;
}
.selectize-input {
  background-color: transparent;
  padding: 0;
  border: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="datetime-local"]:focus {
  box-sizing: border-box !important;
  color: white;
  border: solid 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(#20232d, #20232d),
    linear-gradient(90deg, #784ba0 0.25%, #784ba0 0.26%, #ff3cac 100.12%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: none;
}

input[type="search"] {
  border-radius: 10px !important;
  padding-left: 35px;
}

input[type="search"]:focus {
  box-shadow: none;
}

.form-title {
  color: #9a9fae;
}

.icon i {
  color: #808080;
}

.icon {
  position: absolute;
  right: 20px;
  bottom: 8px;
}

.input-group {
  margin-bottom: 30px;
}
a {
  text-decoration: none !important;
}

.page-link {
  background-color: transparent !important;
  color: white !important;
  border: none;
}

#table-content_length label,
#table-content_info {
  color: white;
}

#table-content_length select,
.search-place select {
  width: fit-content;
  max-height: 40px;
  color: white !important;
  background-color: #101521 !important;
  border: 1px solid #303030;
  border-radius: 10px;
}
#table-content_length select option,
.search-place select option {
  background: #101521;
}

.message {
  text-align: center;
  color: red;
}

.message.success {
  color: green !important;
}

input:disabled {
  color: black;
}

.paginate_button:hover {
  background: none !important;
}

.dataTables_paginate {
  color: white !important;
}

select:disabled {
  color: black
}

